@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import "calculator.css";

@import "buttons.css";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgb(193,57,69);
    background: linear-gradient(135deg, rgba(193,57,69,1) 0%, rgba(238,138,65,1) 51%);

    font-family: 'Roboto', Open-Sans, sans-serif;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

:root {
    --color-display-bg: #fff;
    --color-buttons-bg: #3B3B3C;
    --color-primary: rgba(238,138,65,1);
    --color-secondary: rgba(193,57,69,1);
    --color-numbers: #fff;

    --border-radius-default: 10px;

}
